button.phone.mdc-button {
    background-color: #BC031F;
    min-width: 200px;
    font-size: 40px;
    min-height: 100px;
}

@supports not (-ms-ime-align: auto) {
    .phone.mdc-button::before,
    .phone.mdc-button::after {
        background-color:  #BC031F;
    }
}

button.laptop.mdc-button {
	background-color: #157145;
	min-width: 220px;
    font-size: 40px;
    min-height: 100px;
}
@supports not (-ms-ime-align: auto) {
    .laptop.mdc-button::before,
    .laptop.mdc-button::after {
        background-color:  #157145;
    }
}
button.headphones.mdc-button {
	background-color: #33658a;
	min-width: 350px;
    font-size: 40px;
    min-height: 100px;
}

@supports not (-ms-ime-align: auto) {
    .headphones.mdc-button::before,
    .headphones.mdc-button::after {
        background-color:  #33658a;
    }
}

button.pc.mdc-button {
	background-color: #faa916;
	min-width: 106px;
    font-size: 40px;
    min-height: 100px;
}

@supports not (-ms-ime-align: auto) {
    .pc.mdc-button::before,
    .pc.mdc-button::after {
        background-color:  #faa916;
    }
}

.results {
    
    border: 5px solid #1B1B1E;
    min-width: 100%!important;
    
    
}

.item { 
    
    border: 3px solid #1B1B1E!important;
    padding: 5px!important;
    min-width: 300px!important;
    overflow: auto;
    display: inline-block;
    margin: 0px 30px!important;
}


.phone-name > h2 {
    text-transform: none!important;
}

.phone-name {
    text-align: left;
    
    float: left;
    margin-left: 10px!important;
}

.phone-name::after {
    clear: both;
}

.store-list {
    
    clear: left;
    float: left;
    list-style-type: none!important;
    margin-left: 0!important;
    left: 0!important;
}

.store > img {
    border: none!important;
    margin: 0px!important;
}

.phone-image {
    float: left;
    border: none!important;
    
    
}

.inline {
    display: inline-block;
}

h3 > a {
    color: #1B1B1E!important;
}
h3 > a:hover {
    text-decoration: underline!important;
    color: #1B1B1E!important;
}